@page
@model SmokingCessationSupportPlatform.Web.Pages.Coach.CreateBlogModel
@{
    Layout = "_LayoutNoHeader";

}
@section Head {
        <link rel="stylesheet" href="~/css/coach-dashboard.css" />
        <link rel="stylesheet" href="~/css/message.css" />
}
<div class="main-content">
    <h1>Tạo Blog</h1>

    
</div>