<footer class="border-top footer bg-dark text-white mt-2 py-3">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - SmokingCessationSupportPlatform - <a asp-area="" asp-page="/Privacy" class="text-white text-decoration-none">Privacy</a>
        </div>
    </footer>