@page
@model SmokingCessationSupportPlatform.Web.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}
<div class="main-content">
    <div class="text-center">
        <h1>Đang đăng xuất...</h1>
        <p>Vui lòng chờ trong giây lát.</p>
    </div>
</div>
